<h1 class="text-center mt-5">Stupid coach answer</h1>
<div class="container shadow-lg p-3 bg-info p-2 text-dark bg-opacity-10 rounded mt-5">
  <div class="container p-3 ">
    <p class="text-center"><%= @answer %></p>
    <p  class="text-center"><%= link_to "Ask a new question", ask_path%></p>
  </div>
</div>
